# [ADD] This file is managed by Ansible.
REGION="{{ ha_aws_region }}"

ROUTE_TABLE_ID="{{ ha_route_table_id }}"
DEST_CIDR="{{ ha_dest_cidr }}"

MY_NAME="{{ ha_name }}"
MY_ENI="{{ ha_my_eni }}"
MY_VM_IP="{{ ha_my_vm_ip }}"

PEER_NAME="{{ ha_peer_name }}"
PEER_ENI="{{ ha_peer_eni }}"
PEER_INSTANCE_ID="{{ ha_peer_instance_id }}"
PEER_PRIVATE_IP="{{ ha_peer_private_ip }}"

PING_FAIL_THRESHOLD={{ ha_ping_fail_threshold }}
PING_INTERVAL_SECONDS={{ ha_ping_interval_seconds }}
COOLDOWN_SECONDS={{ ha_cooldown_seconds }}

TAKEOVER_ON_PEER_PING_FAIL_WHEN_AWS_OK="{{ ha_takeover_on_peer_ping_fail_when_aws_ok }}"
