aws_region = "ap-northeast-2"

project = "wonhaeyo"
env     = "dev"

rds_databases = {
  card = {
    db_name     = "won_card_channel_db"
    db_username = "admin"
  }

  securities = {
    db_name     = "won_invest_channel_db"
    db_username = "admin"
  }

  common = {
    db_name     = "won_common_channel_db"
    db_username = "admin"
  }
}

db_passwords = {
  card       = "CHANGE_ME_CARD_DB_PASSWORD"
  securities = "CHANGE_ME_SECURITIES_DB_PASSWORD"
  common     = "CHANGE_ME_COMMON_DB_PASSWORD"
}

db_instance_class     = "db.t4g.micro"
allocated_storage     = 20
max_allocated_storage = 100
rds_multi_az          = true
