# =========================================================
# Common
# =========================================================

aws_region = "ap-northeast-2"

project = "wonhaeyo"
env     = "dev"

# =========================================================
# Existing RDS Values
# RDS는 기존 rds.tf 기준으로 단일 MySQL RDS를 생성한다.
# 아래 값은 RDS가 배치될 VPC, Private Data Subnet, 접근 허용 대상 WAS/EKS SG ID로 변경한다.
# 실제 값은 로컬 terraform.tfvars에서 변경한다.
# =========================================================

rds_databases = {
  card = {
    db_name     = "won_card_channel_db"
    db_username = "admin"
  }

  securities = {
    db_name     = "won_invest_channel_db"
    db_username = "admin"
  }
}

db_passwords = {
  card       = "CHANGE_ME_CARD_DB_PASSWORD"
  securities = "CHANGE_ME_SECURITIES_DB_PASSWORD"
}

db_instance_class     = "db.t4g.micro"
allocated_storage     = 20
max_allocated_storage = 100
rds_multi_az          = true


# =========================================================
# Redis EC2 Common
# =========================================================

enable_redis = false

ec2_ami_id                      = "ami-0765f9741eedf9c7b"
ec2_key_name                    = "boce-keypair"
ec2_associate_public_ip_address = false

redis_instance_type    = "m6i.large"
redis_root_volume_size = 20
redis_root_volume_type = "gp3"
redis_port             = 6379
redis_password         = "CHANGE_ME_REDIS_PASSWORD"

# =========================================================
# Redis Networks
# =========================================================

redis_networks = {
  card = {
    vpc_name            = "card-vpc"
    vpc_cidr            = "10.11.0.0/16"
    security_group_name = "boce-card-wg-sg"
  }

  securities = {
    vpc_name            = "securities-vpc"
    vpc_cidr            = "10.21.0.0/16"
    security_group_name = "boce-securities-test-sg"
  }
}

# =========================================================
# Redis Nodes
# =========================================================

redis_nodes = {
  card_redis_01 = {
    name        = "card-redis-01"
    network_key = "card"
    subnet_name = "card-data-layer-private-subnet-01"
    subnet_cidr = "10.11.31.0/24"
    private_ip  = "10.11.31.101"
  }

  card_redis_02 = {
    name        = "card-redis-02"
    network_key = "card"
    subnet_name = "card-data-layer-private-subnet-01"
    subnet_cidr = "10.11.31.0/24"
    private_ip  = "10.11.31.102"
  }

  card_redis_03 = {
    name        = "card-redis-03"
    network_key = "card"
    subnet_name = "card-data-layer-private-subnet-02"
    subnet_cidr = "10.11.32.0/24"
    private_ip  = "10.11.32.103"
  }

  securities_redis_01 = {
    name        = "securities-redis-01"
    network_key = "securities"
    subnet_name = "securities-data-layer-private-subnet-01"
    subnet_cidr = "10.21.31.0/24"
    private_ip  = "10.21.31.101"
  }

  securities_redis_02 = {
    name        = "securities-redis-02"
    network_key = "securities"
    subnet_name = "securities-data-layer-private-subnet-01"
    subnet_cidr = "10.21.31.0/24"
    private_ip  = "10.21.31.102"
  }

  securities_redis_03 = {
    name        = "securities-redis-03"
    network_key = "securities"
    subnet_name = "securities-data-layer-private-subnet-02"
    subnet_cidr = "10.21.32.0/24"
    private_ip  = "10.21.32.103"
  }
}
